PyAudio
pvporcupine
vosk
gtts
playsound3
rus2num
fuzzywuzzy
googletrans
pyautogui
groq
openai
dotenv
mss
numpy
opencv-python
plyer
python-Levenshtein
PySide6
qasync
pillow
pyscreeze
elevenlabs
pyjokes
psutil
PyGetWindow
